__pycache__/
*.pyc
.DS_Store
.idea/
.vscode/
.venv/

# Data and logs
data/
logs/
# imm-dev/
keypoints/
checkpoints/
**/model_final.pth
**/*.pth
**/*.ckpt

# Generated artifacts
*.zip
*.tar
*.tar.gz

# Jupyter
.ipynb_checkpoints/


